<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>
    <%= message %>
</h1>
<h2>
    <%= error  %>
    <%= error.status  %>
</h2>
<h4>
    <%= error.static %>
</h4>
</body>
</html>