<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>
404
</h1>
<h2>
Мы приносим смои извинения
</h2>
<h4>
Вы можете перейти на страницу  <a href="/">регистрации</a>
</h4>
</body>
</html>