<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= user.login%></title>
</head>
<body>
<h1>Привет, <%= user.login%></h1>
<a href="/api/auth/logout">Выход</a>

<textarea name="" id="" cols="30" rows="10"> </textarea>
</body>
</html>